<row class="footer-bg">
    <columns>
        <row align="center" class="container floar-center">
            <columns class="footer-bg">
                <row class="collapse">
                    <columns small="6" large="6" class="footer-textual">
                        <img src="https://gallery.mailchimp.com/3ab95a703951cf6f0faea7821/images/d7fd7a32-6291-4425-b032-884b8bf0e40e.png" alt="FlatMail" class="footer-logo">
                        <p class="copyright">Copyright &copy; 2013 Company Name</p>
                    </columns>
                    <columns small="6" large="6">
                        <p class="text-right footer-text">You are receiving this newsletter because you have subscribed.<br>
                        Rather not receive our newsletter anymore? <a href="#" target="_blank" class="footer-link">Unsubscribe</a></p>
                    </columns>
                </row>
            </columns>
        </row>
    </columns>
</row>