<row class="footer-bg">
    <columns>
        <row align="center" class="container floar-center">
            <center>
                <columns class="footer-bg">
                    <row class="collapse">
                        <columns small="6" large="6" class="footer-textual">
                            <img src="../assets/img/logo-bot.png" alt="FlatMail" class="footer-logo">
                            <p class="copyright">Copyright &copy; 2013 Company Name</p>
                        </columns>
                        <columns small="6" large="6">
                            <p class="text-right footer-text">You are receiving this newsletter because you have subscribed.<br>
                            Rather not receive our newsletter anymore? <a href="#" target="_blank" class="footer-link">Unsubscribe</a></p>
                        </columns>
                    </row>
                </columns>
            </center>
        </row>
    </columns>
</row>